@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(226, 226, 226);
}

.navbar .active {
    color: red;

}

.navbar .active::after {
    left: 0;
    width: 100%;
}

.navbar ::after {
    position: absolute;
    content: "";
    left: 50px;
    height: 3px;
    background: red;
    transition: .3s;
    bottom: -4px;
    width: 0;
}

.cardlink .active{
    color: red;
}